<%
local cjson = require('cjson')
local uci = luci.model.uci.cursor()
local lan = uci:get("network","lan", "ipaddr")
local nods = uci:get("live","@live[0]", "nods")
local user = uci:get("live","@live[0]", "user")
local password = uci:get("live","@live[0]", "password")

function getServer()
	file = io.open('/etc/live/server.json','r')
	content = file:read('*a')
	file:close()
	local servers = cjson.decode(content)
    return servers
end

function nodeStatus(port)
	cmd = "netstat -antup|grep :::"..port.."|awk -F \' \' \'{print \$7}\'|awk -F \'/\' \'{print \$1}\'"
	ret = luci.sys.exec(cmd)
	return ret
end

function Get_time(date)
    local yer = string.sub(date, 1, 4)
    local month = string.sub(date, 6, 7)
    local day = string.sub(date, 9, 10)
    local end_date = os.time({year = yer, month = month, day = day})
    return end_date
end

function expire(end_date)
    local expire = 0
    local curday = os.date("%Y-%m-%d", os.time())
    local endday = end_date
    local cur_day = Get_time(curday)
    local end_day = Get_time(endday)
    local day = os.difftime(end_day, cur_day) / 86400
	
    return day
end
-%>


<%+header%>
<script type="text/javascript">
	var stxhr = new XHR();
	function start_server(id) {
		//	document.location="/systeminfo.asp";
		// document.location = "<%=controller%>/admin/services/live/start";
		stxhr.post('<%=url('admin/services/node')%>/start', { token: '<%=token%>',id:+id },
				function(x)
				{
					if (x.responseText)
					{
						legend.style.display = 'none';
						output.innerHTML = String.format('<pre>%h</pre>', x.responseText);
					}
					else
					{
						legend.style.display = 'none';
						output.innerHTML = '<span class="error"><%:Bad address specified!%></span>';
					}
				}
			);

	}

	function stop_server(pid) {
		//	document.location="/systeminfo.asp";
		// document.location = "<%=controller%>/admin/services/live/stop";
		stxhr.post('<%=url('admin/services/node')%>/stop', { token: '<%=token%>',pid:+pid },
				function(x)
				{
					if (x.responseText)
					{
						legend.style.display = 'none';
						output.innerHTML = String.format('<pre>%h</pre>', x.responseText);
					}
					else
					{
						legend.style.display = 'none';
						output.innerHTML = '<span class="error"><%:Bad address specified!%></span>';
					}
				}
			);

	}

	function showbox() {
		var status = document.getElementById("statserver").style.display = 'block';
		console.log(status);

	}
</script>
<script type="text/javascript" src="/luci-static/resources/cbi.js"></script>
<h2 name="content"><%:Netx service%></h2>
<br />
<div class="alert-message notice" id="statserver" style="display:none;">
	<img src="/luci-static/resources/icons/loading.gif" alt="加载中" style="vertical-align:middle">
	<span>账号登陆中，请稍后…</span>
</div>
<form method="post" name="login" action="<%=REQUEST_URI%>" enctype="multipart/form-data">
	<fieldset class="cbi-section" id="cbi-user-login">
		<div class="cbi-section-login" style="float: left; width:60%">
			<div class="cbi-value" id="cbi-service-netx-user">
				<label class="cbi-value-title" for="user"><%:Username%></label>
				<div class="cbi-value-field">
					<input type="text" class="cbi-input-text" onchange="cbi_d_update(this.id)"
						name="user" id="user" value="<%=user%>" />
				</div>
			</div>

			<div class="cbi-value" id="cbi-service-netx-password"><label class="cbi-value-title"
					for="password"><%:Password%></label>
				<div class="cbi-value-field">

					<input type="password" class="cbi-input-password" onchange="" name="password"
						id="password" value="<%=password%>" />
				</div>
			</div>
		</div>


		<!-- <div class="cbi-section-info" style="float: right; width:40%">
			<div class="table">
				<div class="tr">
					<div class="td left">
						<%=html%>
					</div>
					<div class="td left">
						<%=level%>
					</div>
				</div>
				<div class="tr">
					<div class="td left">
						<%:Account status%>
					</div>
					<div class="td left">
						<%=status%>
					</div>
				</div>
				<div class="tr">
					<div class="td left">
						<%:End Date%>
					</div>
					<div class="td left">
						<%=enddata%>
					</div>
				</div>
			</div>
		</div> -->
		<div style="margin-top: 100px; margin-left: 22%;">
			<input type="submit" class="cbi-button cbi-button-reload" style="width:200px" onClick="showbox()" title="登录获取节点" value="登录">
		</div>
		
	</fieldset>


	<fieldset class="cbi-section" id="cbi-system-system">

			<div class="cbi-value" id="cbi-jiasu-line">
				<legend><%:node list%></legend>
				<div class="cbi-value">
					<table class="cbi-section-table" style="margin:10px; empty-cells:hide">
						<tbody><tr class="cbi-section-table-titles">
							<th class="cbi-section-table-cell">网络</th>
							<th class="cbi-section-table-cell" style="text-align:left">状态</th>
							<th class="cbi-section-table-cell">到期时间</th>
						</tr>
						<%
						local servers = getServer()
						for k,v in pairs(servers['Servers']) do
							print("<tr class=\"cbi-section-table-row cbi-rowstyle-2\">")
							print("<td class=\"cbi-value-field\" style=\"vertical-align:middle; text-align:left; padding:3px\" id=\"lan-ifc-description\">")
							print("<strong>远程IP:</strong>"..servers['Servers'][k].Ip.."<br>")
							print("<strong>场景:</strong> 直播/普通代理<br>")
							print("<strong>本地IP:</strong>"..lan.."<br>")
							print("<strong>relay协议端口:</strong>"..servers['Servers'][k].Relay.."（手机直播推荐）<br>")
							print("<strong>socks5 /http协议端口:</strong>"..servers['Servers'][k].Scosk5.."（常规场景）<br>")
							print("</td>")
							day = expire(servers['Servers'][k].EndDate)
							if day <= 0  then
								print("<td style=\"color:red\">已到期</td>")
							else
								print("<td>"..day.."天后到期</td>")	
							end
							print("<td style=\"width:420px\">")
							print(servers['Servers'][k].EndDate)
							print("</td>")
							print("</tr>")
						end
						%>
					</tbody>
				</table>
				</div>
			</div>

	</fieldset>
	
	<script type="text/javascript">cbi_d_update();</script>
	</from>
	<%+footer%>

