<%+header%>
<style>
  .item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
  }

  .info {
    flex: 1;
  }

  .buttons button {
    margin-left: 10px;
  }
</style>
<script>
  function redirectToNewPage() {
    var newPageUrl = "/cgi-bin/luci/admin/services/proxy";
    window.location.href = newPageUrl;
  }
</script>
<h2 name="content"><%: Overseas live broadcast acceleration %></h2>
<div class="cbi-map-descr"><%: One account corresponds to one IP, and the goods are sold globally. %></div>

<% local uci = luci.model.uci.cursor() %>
<% local has_proxy_config = false %>
<% uci:foreach("proxy", "proxy", function(config) %>
  <div class="item">
    <div class="info">
      <h4><%: ssid %>: <%= config.name %></h4>
      <p><%: IP address %>: <%= config.ip %></p>
      <p><%: state %>: <%= _('Running') %></p>
      <p><%: interface %>: <%= config.interface %></p>
    </div>

    <div class="buttons">
      <button><%: Restart node %></button>
      <button><%: Stop node %></button>
      <button><%: Edit node %></button>
    </div>
  </div>
  <% has_proxy_config = true %>
<% end) %>

<% if not has_proxy_config then %>
  <div class="item">
    <p><%: Node configuration not found. %></p>
  </div>
<% end %>

<button onclick="redirectToNewPage()"><%: New node %></button>
<%+footer%>
