<%+header%>
<style>
  .item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
  }

  .info {
    flex: 1;
  }

  button {
    background-color: var(--primary);
    color: aliceblue;
    margin-left: 10px;
  }
</style>
<script>
  function redirectToNewPage() {
    var newPageUrl = "/cgi-bin/luci/admin/services/proxy";
    window.location.href = newPageUrl;
  }

  function restart() {
    var restartUrl = "/cgi-bin/luci/admin/services/proxy/restart";  // Adjust the URL accordingly

    fetch(restartUrl, {
        method: 'GET',
    }).then(response => {
        console.log("Service restarted successfully");
    }).catch(error => {
        console.error("Error restarting service:", error);
    });
  }


  function deleteNode(ssid) {
    var deleteUrl = "/cgi-bin/luci/admin/services/proxy/delete_proxy?ssid=" + ssid;
    
    fetch(deleteUrl, {
      method: 'GET',
    }).then(response => {
      console.log("Node deleted successfully");
      // Reload the page or update the UI after deletion
      location.reload();
    }).catch(error => {
      console.error("Error deleting node:", error);
    });
  }

  function editNode(ssid) {
    // Redirect to the edit page with the specified SSID
    var editUrl = "/cgi-bin/luci/admin/services/proxy/edit_proxy?ssid=" + ssid;
    window.location.href = editUrl;
  }
</script>
<h2 name="content"><%: Overseas live broadcast acceleration %></h2>
<div class="cbi-map-descr"><%: One account corresponds to one IP, and the goods are sold globally. %></div>

<% local uci = luci.model.uci.cursor() %>
<% local has_proxy_config = false %>
<% uci:foreach("proxy", "proxy", function(config) %>
  <div class="item">
    <div class="info">
      <h4><%: ssid %>: <%= config.name %></h4>
      <p><%: IP address %>: <%= config.ip %></p>
      <p><%: state %>: <%= _('Running') %></p>
      <p><%: interface %>: <%= config.interface %></p>
    </div>

    <div class="buttons">
      <button onclick="deleteNode('<%= config.name %>')"><%: Delete node %></button>
      <button onclick="editNode('<%= config.name %>')"><%: Edit node %></button>
      <!-- Add other buttons and their functionalities as needed -->
      <button onclick="restart()"><%: Restart node %></button>
    </div>
  </div>
  <% has_proxy_config = true %>
<% end) %>

<% if not has_proxy_config then %>
  <div class="item">
    <p><%: Node configuration not found. %></p>
  </div>
<% end %>

<button onclick="redirectToNewPage()"><%: New node %></button>
<%+footer%>