<%+header%>
<h2 name="content"><%: Overseas live broadcast acceleration %></h2>
<div class="cbi-map-descr"><%: One account corresponds to one IP, and the goods are sold globally. %></div>
<div class="item">
  <div class="info">
    <h4><%= _('节点名称') %>: <%= _('节点 2') %></h4>
    <p><%= _('IP 地址') %>: 192.168.1.2</p>
    <p><%= _('状态') %>: <%= _('运行中') %></p>
    <p><%= _('接口') %>: eth1</p>
  </div>

  <div class="buttons">
    <button><%= _('重启节点') %></button>
    <button><%= _('停止节点') %></button>
    <button><%= _('编辑节点') %></button>
  </div>
</div>

<button><%= _('新增IP') %></button>
<%+footer%>
